/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn-remove {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-remove:hover{
  cursor: pointer;
}